::selection{
  /*background-color: inherit;*/
}
*{
  font-family: "Consolas", monospace;
}
html, body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#controls{
  scale: 0.8;
  translate: -10% -10%
}
fieldset{
  border: 2px solid black;
  background-color: #fafafa;
}
.full {
  width: 8000px;
  height: 8000px;
  translate: -50% -50%;
  position: absolute;
}
draggable-part{
  background-image: url(https://cdn.jsdelivr.net/gh/LightningLaser8/MOAB-Adventure@main/assets/textures/ui/background.png); 
  filter: brightness(2);
  border: 2px solid black;
}
draggable-part[locked=true]{
  background-image: linear-gradient(rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0.1)), url(https://cdn.jsdelivr.net/gh/LightningLaser8/MOAB-Adventure@main/assets/textures/ui/background.png); 
  filter: brightness(2);
}
draggable-part[ghost=true]{
  background-image: none;
  background-color: rgba(206, 255, 255, .5);
}
draggable-part[ghost=true][locked=true]{
  background-image: none;
  background-color: rgba(255, 206, 206, .5);
}
#outline{
  z-index: 2;
  position: absolute;
  pointer-events: none;
  border: 3px double blueviolet;
  translate: -1.5px -1.5px;
}
#tooltip{
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  pointer-events: none;
  min-width: fit-content;
  min-height: fit-content;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, .04);
  border-radius: 4px;
  color: rgb(206, 255, 255);
  font-size: 0.9em;
  display: flex;
}
*[off]{
  opacity: 0;
}
#tooltip *{
  position: static;
  text-align: center;
  display: block;
  flex-grow: 1;
}
#tooltip[circle=true], #outline[circle=true]{
  border-radius: 100%;
}
#tooltip[locked=true]{
  border: 1px solid red;
  color: rgb(255, 206, 206);
  content: " " attr(desc) " [Locked]";
}
#ref{
  background-image: url(moab-outline.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  opacity: 0.1;
}
.grid {
  display: block;
  position: absolute;
  z-index: -99;
  background:
      linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
      linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
      linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
      linear-gradient(-90deg, #aaa 1px, transparent 1px),
      linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
      linear-gradient(#aaa 1px, transparent 1px),
      #f2f2f2;
  background-size:
      8px 8px,
      8px 8px,
      80px 80px,
      80px 80px,
      80px 80px,
      80px 80px,
      80px 80px,
      80px 80px;
}
.offset{
  background-position: 2px 2px
}